// Make Color Depend On Background Color Lightness
@function color-depend-bg($color) {
    @if (lightness($color) > 70) {
      @return $main-color;
    } @else {
      @return #fff;
    }
  }
  
  // Border Radius Maker
  @function radius($state) {
    @if ($state == "rounded") {
      @return 50%;
    } @else if ($state == "low") {
      @return 4px;
    } @else if ($state == "medium") {
      @return 10px;
    } @else if ($state == "high") {
      @return 30px;
    } @else {
      @return 0px;
    }
  }
  
  // Hover Transition
  @function transform-kind($kind) {
    @if ($kind == "grow") {
      @return scale(1.08);
    } @else if ($kind == "shrink") {
      @return scale(0.92);
    } @else {
      @return none;
    }
  }
  
  // For Getting Assets From The Base Folder Variable
  @function assets($type, $file){
    @return url($assets-root-folder + '/' + $type + '/' + $file);
  }


  // Buttons Generator
  // @mixin make-button($bg, $size, $width, $radius, $hover) {
  //   @extend %btn;
  //   &:hover {
  //     transform: transform-kind($hover);
  //     background-color: darken($bg, 5%);
  //   }
  //   @if ($size == small) {
  //     padding: 5px 15px;
  //     font-size: 14px
  //   } @else if ($size == "mid"){
  //     padding: 12px 25px;
  //     font-size: 16px
  //   } @else if ($size == "big"){
  //     padding: 15px 40px;
  //     font-size: 19px
  //   }
  //   background-color: $bg;
  //   color: color-depend-bg($bg);
  //   // font-size: $size;
  //   width: $width;
  //   border-radius: radius($radius);
  // }


  @mixin make-button($background, $color, $size, $width, $hover) {
    @if ($size == small) {
      padding: 5px 15px;
    } @else if ($size == "mid"){
      padding: 15px 25px;
    } @else if ($size == "big"){
      padding: 15px 40px;
    }
    background-color: $background;
    color: $color;
    margin-top: 29px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s ease;
    transition-property: all;
    border: 1px solid $background;
    font-family: "Inter", sans-serif;

    font-weight: 400;
    width: $width;
    cursor: pointer;
    &:hover {
      @if ($hover == "default") {
        background-color: $color;
        color: $background;
        border: 1px solid $color;
      }
      @if ($hover == "width") {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 50%, $background 0);
        background-size: 200% 100%;
        background-position: 100% 100%;
        border: 1px solid;
        color: $background;
        background-color: $color;
      }
    }
    &:active{
      transition: all 0.2s ease-in-out;
      transform: scale(0.95);
    }
  }